<template>
  <v-layout column>
    <v-about-me></v-about-me>
    <v-layout :column="$vuetify.breakpoint.xsOnly" :row="$vuetify.breakpoint.smAndUp">
      <v-presentations id='slides'></v-presentations>
      <v-contact id='contact'></v-contact>
      <v-tips></v-tips>
    </v-layout>
    <v-projects id='projects'></v-projects>
    <v-timeline id='timeline'></v-timeline>
  </v-layout>
</template>

<script>
import AboutMe from '@/components/aboutme'
import Contact from '@/components/contact'
import Presentations from '@/components/presentations'
import Projects from '@/components/projects'
import Tips from '@/components/tips'
import Timeline from '@/components/timeline'

export default {
  components: {
    'v-about-me': AboutMe,
    'v-contact': Contact,
    'v-presentations': Presentations,
    'v-projects': Projects,
    'v-timeline': Timeline,
    'v-tips': Tips
  },
}
</script>
