<template>
  <v-container grid-list-sm>
    <v-btn :to="{name: 'home'}">
      <v-icon>fa-arrow-left</v-icon>
      <span> | Return Home</span>
    </v-btn>
    <v-layout row wrap>
      <v-flex
        v-for="(input, i) in inputs"
        :key="i"
        hover>
        <v-card>
          <v-card-title primary-title class="headline">{{ input.title }}</v-card-title>
          <v-card-text>{{ input.description }}</v-card-text>
          <v-card-actions>
            <v-btn icon>
              <v-icon>{{ input.icon }}</v-icon>
            </v-btn>
            <v-tooltip bottom v-if="input.review">
              <v-btn :href="input.review" icon slot="activator">
                <v-icon>fa-comments</v-icon>
              </v-btn>
              <span>Review</span>
            </v-tooltip>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'Tips',
    data: () => ({
      inputs: [
        {
          title: 'Best Developer Job Ever',
          description: 'Book wrote by my friend Bruno Souza about career and more! - "Most people think they like something and then they become good at it, but the real truth is that you are good at something first, and then because you are good at it you get results, and then you start to like those things.""',
          icon: 'fa-amazon',
          url: 'https://www.amazon.com/Best-Developer-Job-Ever-salaries-ebook/',
          review: 'https://www.linkedin.com/pulse/thoughs-book-best-developer-job-ever-lays-rodrigues/',
        },
        {
          title: 'Por Que Fazemos o Que Fazemos? (Why We Do What We Do?)',
          description: 'Book wrote by Mario Sergio Cortella, a brazilian philosopher, about work and purpose in life. - "Uma vida com propósito é aquela em que sou autor da minha própria vida. Eu não sou alguém que vou vivendo."',
          icon: 'fa-amazon',
          url: 'https://www.amazon.com.br/Por-que-fazemos/'
        },
        {
          title: 'Google Summer of Code',
          description: 'Program made by Google to contribute with open source development.',
          icon: 'fa-google',
          url: 'https://summerofcode.withgoogle.com',
        },
        {
          title: 'Sapiens - A brief history of Humankind',
          description: 'Amazing book written by Yuval Noah Harari about the history of our race.',
          icon: 'fa-amazon',
          url: 'https://www.amazon.com/Sapiens-Humankind-Yuval-Noah-Harari'
        },
        {
          title:'Why Leaders Eat Last',
          description:'Talk made by Simon Sinek, about the hidden dynamics that inspire leadership and trust.',
          icon: 'fa-youtube-play',
          url :'https://www.youtube.com/watch?v=ReRcHdeUG9Y'
        },
      ]
    })
  }
</script>
