<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card>
          <v-card-title class="headline">My Presentations</v-card-title>
          <v-card-text > Check out all slides on my Speaker Deck!<br />
            Feel free to modify, share and provide any feedback! </v-card-text>
          <v-card-text>
          <v-btn
            class="mx-3 white--text"
            icon
            href="https://speakerdeck.com/lays147"
            target="_blank"
          >
          <v-icon size="24px">fa-desktop</v-icon>
        </v-btn>
      </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Presentations',
}
</script>
