<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card>
          <v-card-title class="headline">You Shall Click!</v-card-title>
          <v-card-text> Tips & Tricks<br />
            At this page you will find tips of books, articles and anything
            that I may find interesting. <strong>Check it out!</strong> And if you have anything
            that can fit on this, just send me a PR!
          </v-card-text>
          <v-card-text>
            <router-link :to="{ name: 'tips'}">
              <v-icon size="24px">fa-archive</v-icon>
            </router-link>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'Tips',
}
</script>
