<template>
  <v-app :dark="isDark">
    <v-container>
      <v-toolbar app>
        <v-toolbar-title class="headline text-uppercase">
          <span>Lays Rodrigues</span>
          <span v-show="$vuetify.breakpoint.smAndUp" class="font-weight-light"> - Software Developer</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items v-show="$vuetify.breakpoint.smAndUp">
          <v-layout align-end fill-height wrap>
            <v-switch label="Dark Theme" flat v-model="isDark"></v-switch>
          </v-layout>
        </v-toolbar-items>
      </v-toolbar>
      <v-content>
        <router-view></router-view>
      </v-content>
    </v-container>
    <v-footer class="pa-3">
      <v-layout justify-center>
        <div class="justify-center">Lovely host on <v-icon>fa-github</v-icon> Pages || {{ new Date().getFullYear() }}</div>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
export default{
  data () {
    return { isDark: true }
  },
}
</script>
